
.clearfix {
  overflow: auto;
  zoom: 1;
}

body.background {
    width:100%;
    min-width: 600px;
    margin:auto;
}

#container {
    height: 106px;
}

#topbar{
    background-image: url("https://dl.dropboxusercontent.com/u/107111004/banner.jpg");
    background-color: #7A0000;
    width: 100%;
    height: 106px;
    color: white;
    position: fixed;
    z-index: 1;

}

#logodiv{
padding-top: 8px;
float:left;
border-right: 1px solid white;
padding-right: 20px;
padding-bottom: 10px;

}
#roundLogo{
 width: 80px;
 height: 80px;
 background-image: url("https://dl.dropboxusercontent.com/u/107111004/wasd.png");
 background-size: cover;
 display: block;
 border-radius: 50%;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
  border-style: dotted;
  border-width: 2px;
   

}

#topmenudiv {
    font-family: Indie Flower;
    font-size: 50px;
    font-weight:700;
    float:left;
    
}

#topmenudiv ul{
    margin-top:0;
    padding:0;
  
}

#topmenudiv li {
    list-style: none;
    font-weight: bold;
    font-size: .9em;
    border-right: 1px solid white;
    height: 100%;
    padding: 20px 20px 20px 20px;
    float: left;
}

ul.links {
    margin: 0;
}

.links a:link{
    color: white;
    
}

.links a:visited{
    color: grey;
    
}

.links a:hover{
    color:green;
}

.links a:active{
    color:purple;
}

.myimage{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url("https://dl.dropboxusercontent.com/u/107111004/Lewis.jpg") ;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#intro{
    font-family: 'Open Sans', serif;
    font-size: 30px;
    text-align: center;

}


#introparagraph{
    font-family: 'Open Sans', serif;
    font-size: 20px;
    margin: 0;
    text-align:center;
}


section {
    padding: 10px 0;
}

section#about {
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
    background: url("https://dl.dropboxusercontent.com/u/107111004/bg.png") repeat;
}

section#hobbies {
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
    background: url("images/bg.png");
}
.hobbies_title{
    font-family: 'Open Sans', serif;
    font-size: 30px;
    text-align: center;
}

section#contact {
     padding:8em 0 8em 0;
     text-align:center;
     box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px;
     background:url("https://dl.dropboxusercontent.com/u/107111004/bg.png");
     background-color:#303030; 
}

.wrapper.style4 form input[type=text], .wrapper.style4 form input[type=password], .wrapper.style4 form select, .wrapper.style4 form textarea {
border: none;
background: #282828;
}

form input[type=text], 
form input[type=email], 
form input[type=password], 
form select, 
form textarea {
-webkit-appearance: none;
display: block;
padding: 0.75em;
font-size: 1em;
border-radius: 8px;
color: #bbb;
box-shadow: inset 0px 2px 3px 1px rgba(0,0,0,0.05), 0px 1px 0px 0px rgba(255,255,255,0.025);
width: 100%;
box-sizing: border-box;
}

ul.actions {
    padding: 0;
}

ul.actions li {
    display: inline-block;
    text-align: center;
    list-style: none;
}

form textarea {
    height: 260px;
}

input[type="button"], input[type="submit"] {
    background-color: #43bff0;
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em;

    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 2px 1px 0px rgba(255,255,255,0.75);
    background: #43B3E0;
}

input[type="reset"] {
    padding: 1em 2.35em 1em 2.35em;
    font-size: 1.1em;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
    overflow: hidden;
    background-color: #444;
    box-shadow: inset 0px 0px 0px 1px #242424, inset 0px 2px 1px 0px rgba(255,255,255,0.2);
}

h2.hobbies_title {
    margin-top: 0;
}

h2.contact_title {
    color: white;
    font-family: 'Open Sans', serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-shadow: -1px -1px 0px #181818;
    line-height: 32px;
}

.cols {
    box-sizing: border-box;
    width: 50% !important;
    padding: 25px 0 0 25px;
    float: left;
    margin-left: 0;
}

.cols12 {
    padding: 25px 0 0 25px;
}

.style4 {
    width: 900px;
    margin: 0 auto;
}


ul.social {
    list-style: none;
    text-align: center;
    padding: 0;
}

ul.social li {
    display: inline-block;
}

ul.social li > a {
    height: 48px;
    width: 48px;
    padding: 10px;
    background: #444;
    box-shadow: inset 0px 0px 0px 1px #282828, inset 0px 2px 1px 0px rgba(255,255,255,0.1);
    border-radius: 10px;
    color: #2E2E2E;
}

ul.social li > a:before {
    font-size: 26px;
height: 48px;
line-height: 48px;
text-align: center;
outline: 0;
overflow: hidden;
text-shadow: 1px 1px 0px rgba(255,255,255,0.1);
width: 48px;
}

ul.social li + li {
    margin-left: 5px;
}

h3.social_title {
    font-family: 'Open Sans', serif;
    font-size: 1.5em;
   letter-spacing: -0.015em;
   color: #fff;
}




a.icon {
    text-decoration: none;
}

a.icon:hover {
    color: #999;
}

span.label {
    margin-left: 10px;
}

@media (max-width: 880px) {
    #topmenudiv li {
        font-size: .5em;
        border: none;
    }
}
@media (max-width: 612px) {
    #topmenudiv li {
        font-size: .3em;
        border: none;
    }
}
@media (max-width: 482px) {
    #topmenudiv li {
        font-size: .2em;
        border: none;
    }

    #topbar {
        width: 482px;
    }
}

.col1, .col2, .col3,.col4,.col5,.col6 {
    height: 200px;
    float: left;
    width: 32%;
    margin: 0 8px;
    margin-bottom:25px;
}

.columns {
    min-width: 1200px;
}



.col1 {
background: url("https://dl.dropboxusercontent.com/u/107111004/codepic.png");
-webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:100%;
}

.col2 {
background: url("https://dl.dropboxusercontent.com/u/107111004/cycling.jpg");
-webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:100%;
}

.col3 {
background: url("https://dl.dropboxusercontent.com/u/107111004/Electricguitar.jpg");
-webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:100%;
}

.col4{
     background: url("https://dl.dropboxusercontent.com/u/107111004/videogames.jpg");
-webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:50%;
}


.col5{
     background: url("https://dl.dropboxusercontent.com/u/107111004/basketball.jpg");
-webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:100%;
}

.col6{
     background: url("https://dl.dropboxusercontent.com/u/107111004/reading.jpg");
   -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 background-size:100%;
}


#work{
    height:600px;
}

span.lewis {
    font-size: 40px;
}